@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.tooltip{
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

.tooltip::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: black;
    top: 90%;
    left: 50%;
    transform: rotateZ(45deg) translateX(-50%);
    z-index: -1;
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
    transform: translateY(0px);
}